
.navContainer{
    background-color: aquamarine;
    min-width: 100px;
    height: 100vh;
}
.Navbar{
    height: 20%;
    position: relative; 
    left: 20%;
    top: 30%;
    width: 60%;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    
  }
  
.nav-button{
    color:black;
}
.nav-button:hover{
    color: coral; 
}